
<P>

<div class="blog">
	<div class="blog-heading">Our Purpose / Vision...</div><P>
		<div class="intro">Helping you learn more about Ruby on Rails every day with:
		<ul>
			<li>Help,</li>
			<li>Tips,</li>
			<li>Advice,</li>
			<li>Source Code,</li>
			<li>Examples,</li>
			<li>Demo Projects,</li>
			<li>and Techniques</li>
		</ul>
		for effectively using Ruby on Rails, and programming in general.</div><br/>

		<div class="intro">The programming help you need... Now.</div><br/>
</div><br/>










<% render :file => '/_partial/_includes.html.erb'  %>