
<P>

<div class="blog">
	<div class="blog-heading">About the Author...</div><P>

		<img title="DJRavine" src="http://wowps.org/forum/image.php?u=1&amp;dateline=1222033920" align="left" alt="DJRavine's Avatar" style="border-style: solid solid solid solid; border-color: #111111; border-width: 0px 10px 0px 0px;" border="0" height="150" width="150">

		<div class="intro">Hello everyone...</div><br/>
		
		<div class="intro">Well, my name is Adan aka DJRavine... I live in Brisbane, Australia... Nice place.. Too hot tho... I'm 25 atm... 5 years back i completed my diploma of Information Technology - Software Engineering [Object-Oriented Design] and i'm a qualified programmer, computer technician, networker.. blah blah...</div><br/>
		
		<div class="intro">I run my own web hosting company http://nadasoft.net/ and I do all the graphic design / coding / networking / client support... im currently trying to open up a webcafe also.. but one investors dropped out... so more planning.. grr..</div><br/>
		
		<div class="intro">I currently own and operate http://wowps.org which is a hive for all things about private wow servers. I used to run http://wow.nadasoft.net/ [Private WoW Server] with a team of about 25 admins.. we consisted of 4 wow servers.. each offering different features.. wowemu funserver, mangos funserver, mangos v1.12.1, mangos TBC... haha... meh.. also setup servers remotely for other WoW hosting groups.. most are very appreciative.. the experience is always quite amusing... but we have move towards helping other server owners rather than host ourselves... I have worked for many large wow servers including WoWscape, Burning WoW and a few others... These days I prefer to run my low population test server and script things for other larger population servers...</div><br/>
		
		<div class="intro">Have also have been making much music under the name DJRavine... i have a bit of it here if you are interested.. working on a cd release also... http://djravine.nadasoft.net <- NOT A PLUG I SWEAR!!</div><br/>
		
		<div class="intro">um.. i dont think there's much else i've missed.. and if i have check my userbar rollover in my signature... sorry for waffling on.. had a few rum's and yeah.. haha.. so i'll guess i'll leave you to it.. don't be a stranger now...</div><br/>
		
		<div class="intro"><h1>Programming Vocabulary:</h1></div>
		<div class="intro">Ruby, Ruby on Rails, C, C++, Java, Visual Basic, VBA, Turbo Pascal, Delphi, Awk, Tcl, Scp, Lua, HTML, JavaScript, PHP, CGI, SQL, Linux Shell Scripting and i think thats it.. my head hurts..</div><br/>
		
		<div class="intro"><h1>Interests / Likes:</h1></div>
		<div class="intro">Nice formating, Skating [Skate Boarding], Graphic Design, Programming, Software Hacking, Software evolutions [eg. how youtube is being used by so many social groups], Gaming, Game Development [ my concept http://pg.nadasoft.net/ ], Quotes, Human Consciousness, Sleep [tho i'm an insomniac], and just about anything electronically technical...</div><br/>
		
		<div class="intro"><h1>Dislikes / Pet Peaves:</h1></div>
		<div class="intro">Dont have many... Just dont be a complete noob or boob.. or any other fleshy extremity...</div><br/>
		
		<div align="center"><img src="http://nadasoft.net/images/DJRavine_userbar.gif" alt="" border="0"><br>
		<img src="http://wowps.org/forum/../images/djr_sig.png" alt="" border="0"><br>
		<a href="http://profile.xfire.com/thedjravine" target="_blank"><img src="http://miniprofile.xfire.com/bg/sh/type/2/thedjravine.png" alt="" border="0"></a><br>

		<div class="intro"><font color="DarkOrange"><i>"In a world of genocide... The pacifist must take control..."</i> - DJRavine</font></div>
		<div class="intro"><font color="DarkOrange"><i>"Information is power... Lock away all your knowledge... And don't lose your key..."</i> - DJRavine</font></div><br/>
		</div>
		
</div><br/>







<% render :file => '/_partial/_includes.html.erb'  %>