
<P>

<div class="blog">
	<div class="blog-heading">Contact Us...</div><P>
		<div class="intro">	
			Hello to one and all. Welcome to my Ruby on Rails development blog for DJRavine (Adan Rehtla).
			I will share my adventures with RoR with articles, tutorials, and sample projects all posted here on this blog.
			Lets hope this resource will benefit the greater community for this glorius framework we call Ruby on Rails.	
		</div><br/>
</div><br/>







<% render :file => '/_partial/_includes.html.erb'  %>