<%
record = list_record if list_record # compat with render :partial :collection
dont_show_calculations ||= false
tr_class = cycle("", "even-record")
tr_class += " #{list_row_class(record)}" if respond_to? :list_row_class
url_options = params_for(:action => :list, :id => record.id)
-%>

<div class="blog">
  <% active_scaffold_config.list.columns.each do |column| %>
    <% column_value = get_column_value(record, column) -%>
    <div class="blog-<%= column.name %>" >
      <%= record.authorized_for?(:action => :read, :column => column.name) ? render_list_column(column_value, column, record) : '' %>
    </div>
  <% end -%> 
  <div class="blog-footer" align="right">
		<a href="posts/show/<%= record.id %>?_method=get">Read More...</a>
  </div>
</div><br/>
